html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#262f3c;
    height: 100vh;
}
.actionsButton {
    display: inline-block;
    padding: 15px 40px 15px 40px ;
    margin-bottom: 10px;
    background-color: aliceblue;
    color: rgb(216, 177, 77);
    text-decoration: none;
    border-radius: 15px; 
    font-size: 10px;
    font-weight: 600;   
}
.download {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-image: url("../images/download.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: left center;
    font-size: 18px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    line-height: 21px;
}
.conteiner {
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
}
.back-home {
    background-image: url("../images/Arrow\ 1.svg");
    background-position: left center;
    padding-left: 52px;
    background-repeat: no-repeat;
    color: #3F2AFF;
    font-size: 20px;
    display: block;
    margin-bottom: 25px;
}
.caption {
    color: #3F2AFF;
    font-size: 60px;
    margin-bottom: 50px;
}
.card-list{
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}
.card-item {
    position: relative;
    width: 572px;
    height: 505px;
    background-color: white;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin-bottom: 25px;
}
.lead {
    color: #3F2AFF;
    padding-left: 25px;
    font-size: 40px;
    margin-bottom: 0;
    padding-top: 170px;
}
.inner-wrrapper {
    list-style-type: none;
    padding: 0px;
}
.inner {
    padding-left: 25px; 
    font-size: 20px;
    margin: 0px;
    color: #333333;
    line-height: 165%;
}

.card-item { width: calc(50% - 20px); /* կամ flex: 1 1 48% */ 
}
.number-count {
    position: absolute;
    top: 434px;
    left: 502px;
    font-size: 40px;
    color: #EAEAEA;
}
.card-item:nth-child(1) {
    background-image: url("../images/img1.svg");
    background-repeat: no-repeat;  
}
.card-item:nth-child(2) {
    background-image: url("../images/img2.svg");
    background-repeat: no-repeat;
} 
.card-item:nth-child(3) {
    background-image: url("../images/img3.svg");
    background-repeat: no-repeat;
}   
.card-item:nth-child(4) {
    background-image: url("../images/img4.svg");
    background-repeat: no-repeat;
} 
.show-more {
    display: block;
    margin: 0 auto;
    padding: 25px 76px;
    text-align: center;
    background-color:white;
    color: #3F2AFF;
    font-size: 20px;
    border: 2px solid #3F2AFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
}
.article {
    max-width: 70%;
    margin: 0 auto;
    padding: 50px 0px;
    text-align: justify;
}
.content {
    background-color:gainsboro;
    padding: 10px 20px;
    border-radius: 15px;
}
.result {
    background-color:gainsboro;
    padding: 10px 20px;
    border-radius: 15px;
}
.number {
    text-decoration: none;
    color:black;
}
.bold {
    color:rgb(146, 144, 139);
    font-weight: 500;
}
.margin {
    margin: 0px;
}

